﻿@{
    ViewData["Title"] = "Home Page";
}



<div class="u-content">
    <div class="u-body">
        <div class="row">
            <div class="text-center m-auto">
                <h1 class="display-4">Breidy Alexis Acevedo Diaz</h1>
                <p>Esta prueba espera mostrar mis habilidades sin ir al maximo de ellas, pues entiendo que el proposito de la mismas es validar el conocimiento, por ende se simplifico muchas cosas</p>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="card-body media align-items-center px-xl-3">
                        <div class="u-doughnut u-doughnut--70 mr-3 mr-xl-2">
                            <canvas class="js-doughnut-chart" width="70" height="70"
                                    data-set="[100, 0]"
                                    data-colors='[
                              "#2972fa",
										          "#f6f9fc"
										        ]'></canvas>

                        </div>

                        <div class="media-body">
                            <h5 class="h6 text-muted text-uppercase mb-2">
                                Modulo de CRUD
                            </h5>
                            <span class="h2 mb-0">CRUD</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="card-body media align-items-center px-xl-3">
                        <div class="u-doughnut u-doughnut--70 mr-3 mr-xl-2">
                            <canvas class="js-doughnut-chart" width="70" height="70"
                                    data-set="[100, 0]"
                                    data-colors='[
                              "#fab633",
										          "#f6f9fc"
										        ]'></canvas>

                        </div>

                        <div class="media-body">
                            <h5 class="h6 text-muted text-uppercase mb-2">
                                Modulo de Autenticación
                            </h5>
                            <span class="h2 mb-0">Autenticación</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="card-body media align-items-center px-xl-3">
                        <div class="u-doughnut u-doughnut--70 mr-3 mr-xl-2">
                            <canvas class="js-doughnut-chart" width="70" height="70"
                                    data-set="[100, 0]"
                                    data-colors='[
                              "#0dd157",
										          "#f6f9fc"
										        ]'></canvas>
                        </div>

                        <div class="media-body">
                            <h5 class="h6 text-muted text-uppercase mb-2">
                                Juego Triqui
                            </h5>
                            <span class="h2 mb-0">Triqui</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


